@model MuseumManagement.Models.Location

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Jesteś pewny, że chcesz usunąć pozycję?</h3>
<div>
    <h4>Gdzie znajduje się eksponat?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibition.ExhibitionName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLocation" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
