@model IEnumerable<MuseumManagement.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Gdzie przebywają eksponaty?</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exhibition.ExhibitionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLocation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLocation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLocation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
