@model IEnumerable<MuseumManagement.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Miasta</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCity">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdCity">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCity">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
