@model MuseumManagement.Models.Exhibition

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Wystawa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Museum.MuseumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Museum.MuseumName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdExhibition">Edytuj</a> |
    <a asp-action="Index">Wróc do listy</a>
</div>
