@model IEnumerable<MuseumManagement.Models.Museum>

@{
    ViewData["Title"] = "Index";
}

<h1>Muzea</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MuseumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuseumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMuseum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMuseum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMuseum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
