@model IEnumerable<MuseumManagement.Models.ItemAuthor>

@{
    ViewData["Title"] = "Index";
}

<h1>Twórcy i ich dzieła</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Eksponat
            </th>
            <th>
                Twórca
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorSurname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdItemAuthor">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdItemAuthor">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdItemAuthor">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
